reports/progress/documentation.ipynb
reports/progress/weekly-status.ipynb
datasets/english/
datasets/hindi/
datasets/mandarin/
datasets/spanish/
datasets/patois/
datasets/pidgin/
datasets/accesstoken.txt
venv-arm/
outputs/
reports/
workflow/introduction/
datasets/spotify_dataset.npz
datasets/mels_spotify_dataset.npz
datasets/confusion_matrix.png
sandbox.ipynb
api-key.txt