numpy
pandas
scikit-learn
tensorflow-macos
keras
seaborn
pyarrow
fastparquet
soundfile
dill
plotly
dash
pynvml
psutil
transformers==4.57.1
huggingface-hub>=0.24.0
librosa>=0.10.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1